@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 104px;
  display: flex;
  align-items: center;
}

.link-highlight {
  background: #e96458;
  width: 175px;
  height: 4px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-sales {
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
}
.nav-container {
  max-width: 980px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.link-container {
  margin-left: 97px;
}

.collection-page {
  font-size: 22px;
}

.logo-text {
  margin-left: 8px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 540px;
  background: #1e1f25;
  color: white;
  overflow: auto;
}

.reach-us {
  font-size: 56px;
  font-weight: 700;
}
.chennai {
  font-size: 42px;
}
.address {
  font-size: 22px;
}

.follow-up {
  font-size: 32px;
  font-weight: 500;
}
.contact-us {
  font-size: 32px;
  margin-bottom: 24px;
  font-weight: 500;
}
.phone {
  font-size: 20px;
  margin-bottom: 24px;
}
.date {
  font-size: 20px;
}

.chennai-address {
  margin-top: 24px;
}
.address {
  margin-top: 8px;
  width: 388px;
  font-weight: 400;
  font-size: 21.328px;
  line-height: 32px;
}

.footer-margin {
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  max-width: 1200px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.input-field {
  height: 64px;
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  font-size: 22px;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
}

.facebook {
  width: 56px;
  height: 56px;
  left: 0px;
  top: 0px;

  background: rgba(45, 48, 61, 0.2);
  box-shadow: inset 0px -5px 12px rgba(11, 130, 203, 0.35),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 50%;
}

.call {
  width: 56px;
  height: 56px;
  left: 80px;
  top: 0px;

  background: rgba(45, 48, 61, 0.2);
  box-shadow: inset 0px -5px 12px rgba(9, 221, 183, 0.35),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 50%;
}

.instagram {
  width: 56px;
  height: 56px;
  left: 160px;
  top: 0px;

  background: rgba(45, 48, 61, 0.2);
  box-shadow: inset 0px -5px 12px rgba(144, 14, 176, 0.35),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 50%;
}

.watsapp {
  width: 56px;
  height: 56px;
  left: 240px;
  top: 0px;

  background: rgba(45, 48, 61, 0.2);
  box-shadow: inset 0px -5px 12px rgba(9, 221, 183, 0.35),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 50%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}
